h1 {
  color: rgb(218, 221, 226);
  font-style: oblique;
}

h2 {
  text-align: center;
  color: blueviolet;
  font-style: italic;
}

h3 {
  color: cadetblue;
  font-style: italic;
}

h5 {
  font-style: italic;
  font-weight: 300;
}
.skill-header {
  text-align: left;
}
.skill-container {
  border: rgb(29, 107, 186) solid;
  width: 400px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 8px;
}
